@import "../globals/variables";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  max-width: $med-max-width;


  img, svg {
    cursor: pointer;
  }


  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $main-transition;

    &:active {
      transform: scale(0.98);
    }
  }

  .menu-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu {
      margin-right: 40px;
      border-right: 1px $gray solid;

      a {
        margin-right: 40px;
        font-weight: 500;
      }
    }

    .cta {
      display: flex;
      align-items: center;
      justify-content: center;

      a:not(:last-child) {
        margin-right: 40px;
        font-weight: 500;
      }

      button {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        gap: 10px;
        width: 144px;
        height: 40px;
        background: $primary;
        border-radius: 32px;
      }
    }
  }

}