$primary: #195bff;
$primary-hover: #1752E6;
$primary-active: #1449CC;

$dark: #252525;
$gray: #aaaaaa;
$body-gray: #313234;
$border-radius: 32px;
$body-02: 16px;
$med-max-width: 1280px;
$mobile-max-width: 95%;

$main-transition: all .1s ease-in-out;
