@import "./globals/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: $dark;
  overflow-x: hidden;
}

.hide-for-desktop {
  display: none;
}

button {

  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 48px;
  border-radius: $border-radius;
  width: 100%;
  transition: $main-transition;

  &:hover {
    background-color: $primary-hover !important;
  }

  &:active {
    background-color: $primary-active !important;
    transform: scale(0.98);
  }

}

a {
  color: #252525;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: $med-max-width;
}

::selection {
  background: #ffedc1;
}


@media (max-width: 1300px) {
  $lg-width: 1024px;
  .container {
    max-width: $lg-width;

  }
  header {
    max-width: $lg-width;
    margin: 72px auto 112px auto;

    img {
      width: 450px !important;
    }
  }

  .explore-section {
    height: auto !important;

    img {
      width: 100%;

      max-width: $lg-width;
    }
  }

  .demo-section {
    .title-description {
      h3 {
        font-size: 32px;
        line-height: 24px;
      }
    }

    img {
      width: 100%;
      max-width: $lg-width;
    }
  }

  .cta-section {
    h4 {
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .devices-section {
    max-width: $lg-width;


    img {
      width: 100%;
      max-width: 600px;
    }
  }

  footer {
    .footer-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: center;
      align-items: center;
    }

  }
}

.hide-for-desktop {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: $main-transition;

  &:active,
  &:focus{
    transform: scale(0.98);
  }
}

@media (max-width: 1020px) {
  $md-width: 768px;


  .hide-for-desktop {
    display: block;
  }

  .container {
    max-width: $md-width;

  }
  header {
    max-width: $md-width;
    flex-direction: column;
    justify-content: center !important;

    .header-content {
      align-items: center !important;
      justify-content: center;
    }

    h1, p {
      text-align: center;
    }

    img {
      display: none !important;
    }
  }
  .explore-section {
    h2 {
      font-size: 40px;
    }

    img {
      max-width: $md-width;
    }
  }

  .demo-section {
    max-width: $md-width;

    .title-description {
      flex-direction: column;
      gap: 24px;
    }

    img {
      max-width: $md-width;
    }

  }
  .cta-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 64px;

    h4 {
      max-width: 100%;
    }

    p {
      max-width: 100%;
    }
  }
  .devices-section {
    max-width: $md-width;
    flex-direction: column;
    gap: 64px;

    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4, p {
        text-align: center;
      }

    }
  }
}

@media (max-width: 572px) {
  $sm-width: 512px;
  .hide-for-mobile {
    display: none;
  }
  .container {
    max-width: $sm-width;
  }
  header {
    h1 {
      font-size: 40px !important;
      line-height: 48px !important;
    }

    p {

      width: $sm-width;
      max-width: 95%;
    }
  }
}